<rules>
    <rule name="Rewrite Identificacao">
        <match url="(identificacao.*)" />
        <conditions trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="identificacaoService.dll/{R:0}" />
    </rule>
    <rule name="Rewrite Empresas">
        <match url="(empresas.*)" />
        <conditions trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="empresasService.dll/{R:0}" />
    </rule>
    <rule name="Rewrite Clientes">
        <match url="(clientes.*)" />
        <conditions trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="clientesService.dll/{R:0}" />
    </rule>
    <rule name="Rewrite Produtos">
        <match url="(produtos.*)" />
        <conditions trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="produtosService.dll/{R:0}" />
    </rule>
    <rule name="Rewrite Usuarios">
        <match url="(usuarios.*)" />
        <conditions trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="usuariosService.dll/{R:0}" />
    </rule>
    <rule name="Rewrite Login">
        <match url="(login.*)" />
        <conditions trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="usuariosService.dll/{R:0}" />
    </rule>
    <rule name="Rewrite Cadastro">
        <match url="(cadastos.*)" />
        <conditions trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="usuariosService.dll/{R:0}" />
    </rule>
</rules>
